:root {
    /* Widths */
    --mobile: 390px;
    --desktop: 1440px;

    /* Colors */
    --azul-oscuro: hsl(256, 26%, 20%);
    --azul-claro: hsl(216, 30%, 68%);
    --negro-claro:  hsl(270, 9%, 17%);
    --gris: hsl(273, 4%, 51%);
    --gris-claro: hsl(0, 0%, 98%);
    --gris-blanco: hsla(0, 7%, 74%, 0.865);

    /* Typography */
    --family-heading: 'DM Serif Display', serif;
    --family-body: 'Karla', sans-serif;
    --font-size: 16px;

}


*, 
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--family-body);
    font-size: var(--font-size);
    min-width: var(--mobile);
    max-width: var(--desktop);
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family-heading);
    color: var(--azul-oscuro);
}

/* clases globales */ 

.padding-body {
    padding: 0 30px;
}

.padding-body-pgraph-card {
    padding: 0 40px;
}

/* ---- Header ---- */ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__nav {
    display: none;
}

.header__icon {
    padding: 8px;
    border: 2px solid var(--azul-oscuro);
}

/* ---- main ---- */

.main {
    background-color: var(--azul-oscuro);
    color: var(--gris-claro);
}

.main__figure {

}

.main__image {
    width: 100%;
    display: block;
}

.main__info {
    background-image: url(/assets/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.main__title {
    margin-bottom: 15px;
    line-height: 49px;
    font-size: calc(var(--font-size) + 29px);
    color: var(--gris-claro);
}

.main__pgraph {
    padding: 0 8px;
    display: inline-block;
    margin-bottom: 29px;
    color: var(--gris-blanco);
}

.main__
h
on {
    padding: 10px 29px;
    border: 2px solid var(--gris-blanco);
    background: transparent;
    color: var(--gris-blanco);
    text-transform: uppercase;
    margin-top: 6px;
}


/* ---- section We're Different ---- */

.were-different {
    padding: 100px 0px;
    text-align: center;
}

.were-different__line {
    margin: 0 auto;
    width: 14rem;
    height: 2px;
    background-color: var(--gris);
    margin-bottom: 29px;
}

.were-different__title {
    font-size: calc(var(--font-size) + 24px);
}

.were-different__icon {
    font-size: 40px;
    color: var(--gris-claro);
    background-color: var(--azul-claro);
    padding: 29px;
    border-radius: 60px;
    margin: 70px 0px 29px 0;
}

.were-different__card-title {
    font-size: calc(var(--font-size) + 10px);
    margin-bottom: 29px;
}

.were-different__card-pgraph {
    color: var(--gris);
}


/* ---- section Banner ---- */

.banner {
    width: 100%;
    margin-bottom: 100px;
}

.banner__container-principal {
    width: 80%;
    background: url(/assets/images/bg-pattern-how-we-work-mobile.svg);
    background-color: var(--azul-oscuro);
    background-repeat: no-repeat;
    background-position: right;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.banner__title {
    font-size: calc(var(--font-size) + 20px);
    color: var(--gris-claro);
    margin-bottom: 29px;
}

.banner__button {
    padding: 10px 29px;
    border: 2px solid var(--gris-claro);
    background: transparent;
    color: var(--gris-claro);
    text-transform: uppercase;
}

/* ---- section social ---- */

.social {
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    background: url(/assets/images/bg-pattern-footer-mobile.svg)
}

.social__social-media {
    margin: 20px auto 0px auto; 
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.social__icon {
    font-size: 26px;
    display: inline-flex;
}


/* ---- Footer ---- */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
}

.footer__title {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 29px 0px;
}

.footer__link {
    display: block;
    margin-top: 49px;
    margin: 20px 0px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--azul-oscuro);
    font-weight: bold;
}

.footer__linea {
    width: 80%;
    height: 2px;
    background-color: var(--gris-blanco);
    margin: 0 auto;
}

