:root {
    /* Widths */
    --mobile: 390px;
    --desktop: 1440px;

    /* Colors */
    --azul-oscuro: hsl(256, 26%, 20%);
    --azul-claro: hsl(216, 30%, 68%);
    --negro-claro:  hsl(270, 9%, 17%);
    --gris: hsl(273, 4%, 51%);
    --gris-claro: hsl(0, 0%, 98%);
    --gris-blanco: hsla(0, 7%, 74%, 0.865);

    /* Typography */
    --family-heading: 'DM Serif Display', serif;
    --family-body: 'Karla', sans-serif;
    --font-size: 16px;

}


*, 
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--family-body);
    font-size: var(--font-size);
    min-width: var(--mobile);
    max-width: var(--desktop);
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family-heading);
}

/* clases globales */ 

.padding-body {
    padding: 0 30px;
}

/* ---- Header ---- */ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__nav {
    display: none;
}

.header__icon {
    padding: 8px;
    border: 2px solid var(--azul-oscuro);
}

/* ---- main ---- */

.main {
    background-color: var(--azul-oscuro);
    color: var(--gris-claro);
}

.main__figure {

}

.main__image {
    width: 100%;
    display: block;
}

.main__info {
    background-image: url(/assets/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.main__title {
    margin-bottom: 15px;
    line-height: 49px;
    font-size: calc(var(--font-size) + 29px);
}

.main__pgraph {
    padding: 0 8px;
    display: inline-block;
    margin-bottom: 29px;
    color: var(--gris-blanco);
}

.main__button {
    padding: 10px 29px;
    border: 2px solid var(--gris-blanco);
    background: transparent;
    color: var(--gris-blanco);
    text-transform: uppercase;
}

